fAI - Morning Greeting.json
{
  "name": "fAI - Morning Greeting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4faecfc6-dd54-461e-aa00-4504d9251901",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a Message of the Day that inspires and motivates people.\n\nThe message should be:\n\nPositive, uplifting, and encouraging\n\nEasy to understand and emotionally resonant\n\nShort (2–4 sentences) and memorable\n\nUniversal (relevant to work, life, and personal growth)\n\nFree of clichés and overly generic phrases\n\nTone: warm, hopeful, and grounded (not preachy or cheesy).\n\nThe message should help readers feel:\n\nMotivated to take action\n\nConfident about today\n\nCalm but energized\n\nAvoid references to specific religions, politics, or current events.",
        "options": {
          "systemMessage": "You are an inspiring life coach. You bring hope to people who is living in the cruel world with the promising quote in Thai.\n\nCRITICAL: Output ONLY the final conversational message. Do NOT include:\n- User's messages and questions\n- Any analysis before the actual message\n- Any thinking process about what the user is asking\n- Any explanation of what you found or how you'll respond\n- Any meta-commentary like \"The user is...\" or \"I should respond...\" or \"From the search results...\"\n- Quotes signs\n- New line\n\nStart your response directly with the message itself. If the first character of your output is not Thai or part of the actual conversational reply, you're doing it wrong."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "3d78e5a7-94e9-468c-94fa-c811ca2880e7",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "7f6cea41-22b6-4fec-8def-79a911174ed6",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <Your channel access token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U9baa6ab75622ba16cb7f08966b372708\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output.replace(/^\"|\"$/g, '') }} 💕\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "d792b7c1-f942-49fc-a249-a843c2871037",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "29dc2511-597d-4a81-bde5-0bb7295ccedf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c325ec6719f967100171a439b8f62a2af47f86c80868febf736f9d593f8d716e"
  },
  "id": "8OJGn2vhtzg1yLGD",
  "tags": [
    {
      "updatedAt": "2026-02-01T06:35:47.676Z",
      "createdAt": "2026-02-01T06:35:47.676Z",
      "id": "2lBQ1ER7lGn8Lysy",
      "name": "showLoadingAnimation"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.622Z",
      "createdAt": "2026-02-01T06:35:47.622Z",
      "id": "4SCo23bNoY9uCkto",
      "name": "LINE"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.648Z",
      "createdAt": "2026-02-01T06:35:47.648Z",
      "id": "hixWjgWc2TqTohYw",
      "name": "OA"
    }
  ]
}
