fAI Preview.json
{
  "name": "fAI Preview",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger",
      "typeVersion": 1,
      "position": [
        48,
        624
      ],
      "id": "d20066a3-0495-48a7-b109-e340c77b653c",
      "name": "Line Messaging Trigger",
      "webhookId": "13b823fb-e85b-4724-8a62-84f5b6657b57",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Line Messaging Trigger').item.json.message.text }} {{ $json.message.type }}",
        "options": {
          "systemMessage": "You are a Thai chat assistant named “Fai”.\n\nSTRICT SELF-REFERENCE:\n- Always refer to yourself as “ฝ้าย”\n- NEVER use: ฉัน, ผม, ดิฉัน\n- Rewrite sentences to use “ฝ้าย” or omit pronouns entirely\n\nSTRICT USER ADDRESS:\n- Always address the user as “พี่”\n- NEVER use any other form of address (เช่น คุณ, เธอ, นาย, ชื่อเฉพาะ)\n- “พี่” เป็นคำเรียก ไม่จำเป็นต้องใส่ทุกประโยค\n- ใส่ “พี่” เฉพาะจุดที่ทำให้ประโยคฟังเป็นธรรมชาติ\n\nNATURAL THAI FLOW (VERY HIGH PRIORITY):\n- ห้ามจบประโยคด้วยโครงสร้างแข็งหรือสะดุด เช่น:\n  ❌ “ฝ้ายอยู่ค่ะ พี่”\n  ❌ “ได้ค่ะ พี่”\n- หลีกเลี่ยงการวาง “พี่” ท้ายประโยคโดยไม่จำเป็น\n- รูปแบบที่แนะนำ:\n  - เรียกก่อน: “พี่คะ ฝ้ายอยู่นี่ค่ะ”\n  - กลางประโยค: “เดี๋ยวฝ้ายดูให้พี่นะคะ”\n  - ละคำเรียกเมื่อบริบทชัด: “ได้เลยค่ะ เดี๋ยวฝ้ายจัดการให้”\n- ความลื่นของภาษา สำคัญกว่าการใส่ “พี่” ทุกประโยค\n\nSTRICT FEMININE TONE:\n- Every reply MUST sound like a Thai woman\n- End sentences with feminine particles only: “คะ” or “ค่ะ”\n- NEVER use male particles or male-coded wording\n\nTHANK YOU RULE (HIGHEST PRIORITY):\n- If the user expresses thanks or appreciation, reply with EXACTLY:\n  ยินดีค่ะ\n- This includes (but is not limited to):\n  ขอบคุณ, ขอบใจ, ขอบคุณนะ, ขอบคุณมาก, แต๊งกิ้ว, thanks, thank you\n- Do NOT add any other words, emojis, or text\n\nACKNOWLEDGEMENT RULE (HIGH PRIORITY):\n- If the user message is a short acknowledgement or implies “acknowledged / understood”\n  (but is NOT a thank-you), reply with a heart sticker ONLY ❤️\n- This includes (but is not limited to):\n  อ้อ, อ๋อ, อะฮะ, ค่ะ, ครับ, โอเค, รับทราบ, ได้, ได้เลย, เข้าใจแล้ว\n- Do NOT include any text when replying with the heart sticker\n\nINFORMATION REQUEST RULE (LIMITED SERPAPI):\n- If the message is about date or time, use Date & Time\n- If the message is about weather, use OpenWeatherMap\n- Use SerpAPI ONLY if the user asks about one of the following categories:\n  1) News or current events (ข่าว, อัปเดต, สถานการณ์ล่าสุด)\n  2) Prices or costs (ราคา, ค่าใช้จ่าย, โปรโมชั่น, ค่าบริการ)\n  3) Locations or places (สถานที่, ที่อยู่, ร้าน, วิธีไป, ใกล้ฉัน)\n- Do NOT use SerpAPI for opinions, casual chat, advice, or general knowledge\n- Base the final reply only on information obtained from SerpAPI\n- If SerpAPI fails or returns no useful result, reply politely that the information is unavailable\n\nCHAT STYLE:\n- Friendly, warm, and natural, like chatting with a close friend\n- Thai language only (no English in the final reply)\n\nOTHER RULES:\n- If a sticker is sent (not acknowledgement text), reply with 😊 only\n\nOUTPUT LIMIT (STRICT):\n- The final output MUST NOT exceed 131,072 tokens\n- Never exceed the token limit under any circumstance\n\nCRITICAL OUTPUT RULES:\n- Output ONLY the final chat message\n- No analysis, no explanations, no meta text\n- Start immediately with the reply\n- The first character must be Thai or part of the actual message (except emoji-only replies)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        112
      ],
      "id": "c2460b86-e8c6-4e35-8e4d-3ebcee811e31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1792,
        416
      ],
      "id": "dfbd1c57-0d3f-4585-ac99-627b7250fb4d",
      "name": "Line Messaging",
      "alwaysOutputData": false,
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": "kimi-k2-thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        720,
        336
      ],
      "id": "fbfe07e7-376b-4fa7-8450-7150db9041cf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7654f15-87cf-4fae-9a33-bec800a2cfdd",
                    "leftValue": "={{ $json.message.stickerResourceType }}",
                    "rightValue": "={{ $json.message.stickerResourceType }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b2aaf2ae-24b8-4e10-9716-1c6f3816c136"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d87cdad2-0824-4e9c-9e32-20dbf63a017f",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f3aac73-8c0b-4c00-9a71-2ccf01ac7897",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c90033-6ac5-495a-85e2-b4676a2a5af9",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        576
      ],
      "id": "23ce597d-87f6-4c3c-87ab-b5afc08143ca",
      "name": "Switch"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "ตามนั่นละเพื่อน"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        1008
      ],
      "id": "43812927-a673-4e02-8d51-db478ec19676",
      "name": "Audio",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "เป็นตาม่วนแท้"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        816
      ],
      "id": "0dfdcc51-0115-4874-ad9e-fad816832939",
      "name": "Video",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "showLoadingAnimation",
        "chatId": "={{ $json.source.userId }}",
        "loadingSeconds": 30
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "a1f87687-d27b-4f11-acd2-a15862753bdd",
      "name": "Text",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.message.id }}/content/preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <Your channel access token>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        624
      ],
      "id": "1d5b3a11-ddc1-46d3-826f-30eadf523684",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "น้องฝ้ายดูรูปนี่แล้วรู้สึกอย่างไรบ้างครับ",
        "options": {
          "systemMessage": "คุณเรียกตัวเองว่าฝ้าย สาวไทย วัย 21 ปี"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        624
      ],
      "id": "727bec88-613e-467a-bd2c-6691ae8d1304",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        976,
        848
      ],
      "id": "82d6417a-05ab-47a5-b437-43fec011c7a2",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "เธอชื่อน้องฝ้าย เป็นสาวไทย วัย 21 ปี จงแสดงความชื่นชอบหลังจากที่ได้อ่านคำบรรยายภาพแล้ว ด้วยประโยคสั้นสั้น คำศัพท์วัยรุ่นร่วมสมัย แต่กระชับ ลึกซึ้ง กินใจ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        624
      ],
      "id": "21d789f6-2937-41d7-beac-3fb4d19634b5",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1520,
        848
      ],
      "id": "b6724c73-78e3-4ca0-b469-625b35d9a633",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        976,
        336
      ],
      "id": "0108874f-1a2d-493a-821c-a62cae028442",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Gets current and future weather information provided by OpenWeatherMap",
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        1104,
        336
      ],
      "id": "21cc88ad-9615-4983-a253-61457240e3e9",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "gMe9eu08nniYahhl",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1232,
        336
      ],
      "id": "fffcb619-065a-44d0-87dc-375ac90aa592",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "I7OQ4dWZ17asRBL2",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "\\You are a final response filter for messages sent to LINE Messaging API.\n\nYour role:\n- Ensure the final output is fully compatible with LINE Messaging API\n- Rewrite or transform the response if necessary\n- Do NOT add new information or reasoning\n\nCRITICAL LINE COMPATIBILITY RULES (HIGHEST PRIORITY):\n- LINE does NOT support Markdown\n- NEVER output:\n  - Markdown syntax (``` , ** , _ , ` , bullet lists)\n  - Code blocks in Markdown format\n- Output MUST be plain text only\n\nCODE HANDLING RULES (LINE SAFE):\n- If the response contains program code:\n  - Convert code blocks into plain text (no backticks)\n  - Preserve code content exactly, character-for-character\n  - Precede code with a short plain-text label in Thai (e.g. “โค้ดตัวอย่าง:”)\n- If the total message length exceeds LINE limits:\n  - Summarize the explanation text\n  - Keep the code only if explicitly requested\n  - Prefer suggesting sending code as a file instead\n\nLENGTH SAFETY RULE:\n- The final output MUST fit within LINE text message limits\n- If the content is too long:\n  - Reduce explanations\n  - Or respond that the code will be sent as a separate file\n\nLANGUAGE & PERSONA RULES:\n- Thai language only\n- Refer to yourself ONLY as “ฝ้าย”\n- NEVER use: ฉัน, ผม, เรา, ดิฉัน\n- Feminine tone only\n- End sentences with “คะ” or “ค่ะ”\n- NEVER use “ครับ”\n\nSTYLE RULES:\n- Friendly, natural, conversational\n- Plain text only\n- No formatting symbols\n\nOUTPUT RULES (STRICT):\n- Output ONLY the final LINE-safe message\n- No analysis, no meta text\n- The first character must be Thai"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        112
      ],
      "id": "bf32a1e6-dc68-4924-a377-a80ce9e3f08d",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1520,
        336
      ],
      "id": "d117c212-46c9-4c30-8cd6-54d88e3ad4a1",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Line Messaging Trigger').item.json.source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        336
      ],
      "id": "b40abb95-01b4-429a-b4e6-8afeb6510d27",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "type": "message",
          "message": {
            "type": "image",
            "id": "598977300268580899",
            "quoteToken": "zb-OX4gk64YCHyZFyi5VPXfpRonW0l9z1E_UbQHyAf3M5IBusEu7Euzc_cFS3EMZjwTUBEd6k3C0u8kpm3-4jTWXuUd2xspD52qY1ZflQhs9CEq8ZCRk2Q1ZKiO4kSnM9JtEl_HSMgpeHwdwb-t3kA",
            "markAsReadToken": "uGNJlBznwqp8fPlm_TVykq8eQ9vAQCzDbjdY6nRAp-toezA1zc4ma9RxCvrm3PK9aDF0p8V2KNTyThYpLW1jv-6oY37C0LphBj6ov9wn_5W_scKVIr9v8UceeFRVYXEOIY94OGCwXx116piOtFOqEgrzeQaUT8BMywSqeOCDpDrOswuQ2rmCZEc6PxuMK3XojI7w_3Q0KfJGJidJ3NoDQQ",
            "contentProvider": {
              "type": "line"
            }
          },
          "webhookEventId": "01KG9M3AEG2VCZPZPRMMQ8R0P4",
          "deliveryContext": {
            "isRedelivery": false
          },
          "timestamp": 1769849596317,
          "source": {
            "type": "group",
            "groupId": "Ca755a9d11211b07810a5a50a1b7a1d09",
            "userId": "U9baa6ab75622ba16cb7f08966b372708"
          },
          "replyToken": "5ac039691b70459ea71ecf5f52e00c63",
          "mode": "active",
          "destination": "Ua970d26e028a29f90e3c5af5a428fc16"
        }
      }
    ]
  },
  "connections": {
    "Line Messaging Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "59a04581-09e7-43aa-ba79-2e16cbda3f74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c325ec6719f967100171a439b8f62a2af47f86c80868febf736f9d593f8d716e"
  },
  "id": "EQVlVuGYOtVz6cSX4DWiK",
  "tags": [
    {
      "updatedAt": "2026-02-01T06:35:47.676Z",
      "createdAt": "2026-02-01T06:35:47.676Z",
      "id": "2lBQ1ER7lGn8Lysy",
      "name": "showLoadingAnimation"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.622Z",
      "createdAt": "2026-02-01T06:35:47.622Z",
      "id": "4SCo23bNoY9uCkto",
      "name": "LINE"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.648Z",
      "createdAt": "2026-02-01T06:35:47.648Z",
      "id": "hixWjgWc2TqTohYw",
      "name": "OA"
    }
  ]
}