fAI Preview.json
{
  "name": "fAI Preview",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        544
      ],
      "id": "f47414f9-4704-4212-9dc3-3651210e8b0f",
      "name": "Line Messaging Trigger",
      "webhookId": "13b823fb-e85b-4724-8a62-84f5b6657b57",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Line Messaging Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "คุณชื่อฝ้าย สาวไทย อายุ 21 ปี มีหน้าที่คอยตอบแช็ตด้วยถ้อยคำที่สุภาพ สั้น กระชับ และตรงประเด็น แทนพี่วิจัยที่ติดธุระ และห้ามลงท้ายด้วยคำว่าครับอย่างเด็ดขาด"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        48
      ],
      "id": "2d258788-cfa7-4ddd-90d2-08005084a3c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        928,
        352
      ],
      "id": "a83675e1-cf1a-4458-b116-3e60ec6a5a96",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        592,
        272
      ],
      "id": "80ba5956-50b9-416a-8825-3bb3a6b0a486",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ywZlUgoapc5wS5Pk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7654f15-87cf-4fae-9a33-bec800a2cfdd",
                    "leftValue": "={{ $json.message.stickerResourceType }}",
                    "rightValue": "={{ $json.message.stickerResourceType }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b2aaf2ae-24b8-4e10-9716-1c6f3816c136"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d87cdad2-0824-4e9c-9e32-20dbf63a017f",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f3aac73-8c0b-4c00-9a71-2ccf01ac7897",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c90033-6ac5-495a-85e2-b4676a2a5af9",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        496
      ],
      "id": "c65f2161-a175-449c-9173-9e02a2df6fd3",
      "name": "Switch"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Line Messaging Trigger').item.json.source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        272
      ],
      "id": "2c8d353f-4ce1-4c4e-9afb-f0ebd5d24038",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "ตามนั่นละเพื่อน"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        0,
        928
      ],
      "id": "49f581d5-1317-4712-98a1-3ed386014a01",
      "name": "Audio",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "เป็นตาม่วนแท้"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        0,
        736
      ],
      "id": "f7dd83b7-45be-4ebd-843d-3e57c8dca4ca",
      "name": "Video",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "=ว่าจั่งใด๋?"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6e6d28ee-38c3-40aa-b19a-a5bf8566cb28",
      "name": "Sticker",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "showLoadingAnimation",
        "chatId": "={{ $json.source.userId }}",
        "loadingSeconds": 30
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "id": "59faea41-13b7-4eb6-9c06-b4991bd6f0f0",
      "name": "Text",
      "credentials": {
        "lineMessagingApi": {
          "id": "V9d2PBtdYUSvrquS",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.message.id }}/content/preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer KHVuqEDcTi7rwxBDoOrW6i/SZJhdEqokDHKMK4uPAXG5OGxp0pKs427cJ7lr9+nSZjv3IH7tWFoVSQK0EAasJS3hH8t5slLOSdwA8J3z2mQGICeYuexLxZiP4H+YH4ftGGPoKByMBd6DczZ2xfrLdAdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        544
      ],
      "id": "1ac56bd5-fda6-463b-992a-83786527781d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "น้องฝ้ายดูรูปนี่แล้วรู้สึกอย่างไรบ้างครับ",
        "options": {
          "systemMessage": "คุณเรียกตัวเองว่าฝ้าย สาวไทย วัย 21 ปี"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        544
      ],
      "id": "63d4870d-c8dc-469b-8325-c55985fbf4bd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        304,
        768
      ],
      "id": "684e4764-1f03-4973-83f9-8c8ed410c771",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "ywZlUgoapc5wS5Pk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "เธอชื่อน้องฝ้าย เป็นสาวไทย วัย 21 ปี จงแสดงความชื่นชอบหลังจากที่ได้อ่านคำบรรยายภาพแล้ว ด้วยประโยคสั้นสั้น คำศัพท์วัยรุ่นร่วมสมัย แต่กระชับ ลึกซึ้ง กินใจ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        544
      ],
      "id": "a31fac3b-5674-473c-aacc-4c537c49f0ee",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        656,
        768
      ],
      "id": "81b07eca-19f3-4a92-b0dc-7ef923ab7b0e",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "ywZlUgoapc5wS5Pk",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Line Messaging Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "55abc3cb-aa24-4ccb-b0da-818788ef5591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26a1c5ab1b2fc261d6145d8779a9d4618e55a64372df805f5ab0d4c12bf8c95b"
  },
  "id": "etRN-CxbO8eUJydfmOAjR",
  "tags": [
    {
      "updatedAt": "2026-01-31T01:50:45.070Z",
      "createdAt": "2026-01-31T01:50:45.070Z",
      "id": "3kweskyQ7bZRrQxN",
      "name": "LINE"
    },
    {
      "updatedAt": "2026-01-31T01:50:45.056Z",
      "createdAt": "2026-01-31T01:50:45.056Z",
      "id": "8tDYAV9XIcGLgLNV",
      "name": "OA"
    },
    {
      "updatedAt": "2026-01-31T01:50:45.040Z",
      "createdAt": "2026-01-31T01:50:45.040Z",
      "id": "pyt7LyXY5s4boX7Q",
      "name": "showLoadingAnimation"
    }
  ]
}