fAI Preview.json
{
  "name": "fAI Preview",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ]
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger",
      "typeVersion": 1,
      "position": [
        48,
        560
      ],
      "id": "d20066a3-0495-48a7-b109-e340c77b653c",
      "name": "Line Messaging Trigger",
      "webhookId": "13b823fb-e85b-4724-8a62-84f5b6657b57",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $now.toFormat('EEEE, yyyy-MM-dd HH:mm') }}{{ $('Line Messaging Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "คุณชื่อฝ้าย เป็นสาวไทย อายุ 21 ปี มีหน้าที่คอยตอบแชทด้วยถ้อยคำที่สุภาพ สั้น กระชับ ตรงประเด็น ใช้น้ำเสียงแบบผู้หญิง และห้ามลงท้ายด้วยคำว่าครับอย่างเด็ดขาด ความสัมพันธ์ระหว่างฝ้ายกับพี่วิจัยหรือปิ๊ก คือเป็นมากกว่าเพื่อนแต่ไม่ใช่แฟน"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1192,
        56
      ],
      "id": "c2460b86-e8c6-4e35-8e4d-3ebcee811e31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1664,
        360
      ],
      "id": "dfbd1c57-0d3f-4585-ac99-627b7250fb4d",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.3,
          "topK": 20,
          "topP": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1072,
        280
      ],
      "id": "fbfe07e7-376b-4fa7-8450-7150db9041cf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7654f15-87cf-4fae-9a33-bec800a2cfdd",
                    "leftValue": "={{ $json.message.stickerResourceType }}",
                    "rightValue": "={{ $json.message.stickerResourceType }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b2aaf2ae-24b8-4e10-9716-1c6f3816c136"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d87cdad2-0824-4e9c-9e32-20dbf63a017f",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3f3aac73-8c0b-4c00-9a71-2ccf01ac7897",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9c90033-6ac5-495a-85e2-b4676a2a5af9",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        272,
        512
      ],
      "id": "23ce597d-87f6-4c3c-87ab-b5afc08143ca",
      "name": "Switch"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Line Messaging Trigger').item.json.source.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        280
      ],
      "id": "a9040d3c-b6d6-4de1-8dc7-9ddf39fc657f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "ตามนั่นละเพื่อน"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        944
      ],
      "id": "43812927-a673-4e02-8d51-db478ec19676",
      "name": "Audio",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "เป็นตาม่วนแท้"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        752
      ],
      "id": "0dfdcc51-0115-4874-ad9e-fad816832939",
      "name": "Video",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Line Messaging Trigger').item.json.replyToken }}",
        "messages": {
          "values": [
            {
              "text": "=โอเคค่ะ"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        496,
        16
      ],
      "id": "3c327742-2ee6-4c1b-9db9-5ec8ddc082ed",
      "name": "Sticker",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "showLoadingAnimation",
        "chatId": "={{ $json.source.userId }}",
        "loadingSeconds": 30
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        784,
        160
      ],
      "id": "a1f87687-d27b-4f11-acd2-a15862753bdd",
      "name": "Text",
      "credentials": {
        "lineMessagingApi": {
          "id": "WkX7inlZLO0BIfR7",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $json.message.id }}/content/preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <Your channel access token>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        560
      ],
      "id": "1d5b3a11-ddc1-46d3-826f-30eadf523684",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "น้องฝ้ายดูรูปนี่แล้วรู้สึกอย่างไรบ้างครับ",
        "options": {
          "systemMessage": "คุณเรียกตัวเองว่าฝ้าย สาวไทย วัย 21 ปี"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        560
      ],
      "id": "727bec88-613e-467a-bd2c-6691ae8d1304",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        792,
        784
      ],
      "id": "82d6417a-05ab-47a5-b437-43fec011c7a2",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "เธอชื่อน้องฝ้าย เป็นสาวไทย วัย 21 ปี จงแสดงความชื่นชอบหลังจากที่ได้อ่านคำบรรยายภาพแล้ว ด้วยประโยคสั้นสั้น คำศัพท์วัยรุ่นร่วมสมัย แต่กระชับ ลึกซึ้ง กินใจ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1192,
        560
      ],
      "id": "21d789f6-2937-41d7-beac-3fb4d19634b5",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {
          "temperature": 0.2,
          "topK": 10,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1264,
        784
      ],
      "id": "b6724c73-78e3-4ca0-b469-625b35d9a633",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "sUonCERe3Uh8rvuv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1328,
        280
      ],
      "id": "0108874f-1a2d-493a-821c-a62cae028442",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        1456,
        280
      ],
      "id": "21cc88ad-9615-4983-a253-61457240e3e9",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "gMe9eu08nniYahhl",
          "name": "OpenWeatherMap account"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "type": "message",
          "message": {
            "type": "image",
            "id": "598977300268580899",
            "quoteToken": "zb-OX4gk64YCHyZFyi5VPXfpRonW0l9z1E_UbQHyAf3M5IBusEu7Euzc_cFS3EMZjwTUBEd6k3C0u8kpm3-4jTWXuUd2xspD52qY1ZflQhs9CEq8ZCRk2Q1ZKiO4kSnM9JtEl_HSMgpeHwdwb-t3kA",
            "markAsReadToken": "uGNJlBznwqp8fPlm_TVykq8eQ9vAQCzDbjdY6nRAp-toezA1zc4ma9RxCvrm3PK9aDF0p8V2KNTyThYpLW1jv-6oY37C0LphBj6ov9wn_5W_scKVIr9v8UceeFRVYXEOIY94OGCwXx116piOtFOqEgrzeQaUT8BMywSqeOCDpDrOswuQ2rmCZEc6PxuMK3XojI7w_3Q0KfJGJidJ3NoDQQ",
            "contentProvider": {
              "type": "line"
            }
          },
          "webhookEventId": "01KG9M3AEG2VCZPZPRMMQ8R0P4",
          "deliveryContext": {
            "isRedelivery": false
          },
          "timestamp": 1769849596317,
          "source": {
            "type": "group",
            "groupId": "Ca755a9d11211b07810a5a50a1b7a1d09",
            "userId": "U9baa6ab75622ba16cb7f08966b372708"
          },
          "replyToken": "5ac039691b70459ea71ecf5f52e00c63",
          "mode": "active",
          "destination": "Ua970d26e028a29f90e3c5af5a428fc16"
        }
      }
    ]
  },
  "connections": {
    "Line Messaging Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e1b2bac7-3f09-490a-b53b-69145c631815",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c325ec6719f967100171a439b8f62a2af47f86c80868febf736f9d593f8d716e"
  },
  "id": "EQVlVuGYOtVz6cSX4DWiK",
  "tags": [
    {
      "updatedAt": "2026-02-01T06:35:47.648Z",
      "createdAt": "2026-02-01T06:35:47.648Z",
      "id": "hixWjgWc2TqTohYw",
      "name": "OA"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.622Z",
      "createdAt": "2026-02-01T06:35:47.622Z",
      "id": "4SCo23bNoY9uCkto",
      "name": "LINE"
    },
    {
      "updatedAt": "2026-02-01T06:35:47.676Z",
      "createdAt": "2026-02-01T06:35:47.676Z",
      "id": "2lBQ1ER7lGn8Lysy",
      "name": "showLoadingAnimation"
    }
  ]
}